.ag-theme-material {
  /* bright green, 10% opacity */
  --ag-selected-row-background-color: rgba(0, 0, 0, 0.3);
  --ag-odd-row-background-color: #f3f3f3;
  --ag-range-selection-border-color: transparent;
  --ag-checkbox-background-color: whitesmoke;
  --ag-checkbox-checked-color: black;
  --ag-checkbox-unchecked-color: whitesmote;
  --ag-checkbox-indeterminate-color: black;

  /* Disabling borders */
  --ag-borders: none;
  --ag-row-border-style: none;
  --ag-row-border-width: 0px;
  --ag-row-border-color: rgb(150, 150, 200);
}

.ag-cell-focus {
  outline: none;
  border: none;
}

.ag-row-focus {
  outline: black solid 2px;
  outline-offset: -2px;
}
